@page
@model CRUDCore.Pages.UsersAdministration.IndexModel


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="margin-top:25px;padding:10px">
    <div class="col-12" style="margin-top:-20px">
        <div class="alert alert-success" style="margin-bottom:40px">
            <div class="row">
                <div class="col-1" style="margin-left:-5px;margin-top:5px">
                    <a asp-controller="Panel" asp-action="Index" class="btn btn-outline-primary ">Atras</a>
                </div>
                <div class="col-10">
                    <h3 style="margin-top:7px;margin-left:-30px"> Alta o modificacion de usuarios</h3>
                </div>
            </div>
        </div>
    </div>


    <div class="col-12" style="margin-top:15px;margin-bottom:0px">
        <form method="post">
            <div class="form-group form-inline float-right">
                <label style="margin-right:10px">Buscar:</label>
                <input class="form-control" style="max-width:250px" asp-for="txtBusqueda" />
                <button asp-page-handler="RequestInfo" class="btn btn-outline-primary" style="margin-left:8px">Buscar</button>

            </div>
        </form>

    </div>

    @foreach (var item in Model.CtUsers)
    {
        <div class="col-2 style156" style="border:1px solid #bdbdbd;padding:6px;max-height:335px;margin:10px;overflow:hidden;background-color:white;border-radius:5px">
            <div class="row">
                <div class="col-12" style="text-align:center;margin-top:5px;margin-bottom:10px">
                    <div style="min-height:100px">
                        <img src="~/images/users/@item.ImgPath" alt="Sample Image" width="auto" height="110px" style="border-radius:10px;margin-top:6px;margin-bottom:-20px" />

                    </div>
                    <br />

                    <div class="row" style="margin-top:11px;background-color:#f7f7f7;padding-top:5px;border-top:1px solid #bdbdbd;min-height:210px;max-height:210px; ">

                        <div style="max-height:95px">
                            <div class="row" style="margin-left:0px">
                                <div class="col-6">
                                    <label style="margin-bottom: -4px">Nombre</label><br />
                                    <span style="font-size:12px">@item.Nombres</span>    <br />
                                    <label style="margin-top:5px;margin-bottom:-4px">Apellidos</label><br />
                                    <span style="font-size:12px">@item.Apellidos</span>         <br />

                                </div>
                                <div class="col-6">

                                    <label style="margin-bottom:-4px">Rol</label><br />
                                    <span style="font-size:12px"> @item.RoleNavigation.Role</span>   <br />
                                    <label style="margin-top: 5px; margin-bottom: -4px">Especialidad</label><br />
                                    <span style="font-size:12px">@item.Especialidad</span>

                                </div>

                            </div>
                            
                        </div>
                        
                        <div class="col-12" style="margin-top:10px;background-color:#4B515D;height:44px;padding-top:6px;margin-bottom:-16px">
                            <a asp-page="./Edit" asp-route-id="@item.Id" class=" btn btn-primary btn-sm">Editar</a>
                            <a asp-page="./Details" asp-route-id="@item.Id" class=" btn btn-primary btn-sm">Detalles</a>
                            <a asp-page="./Delete" asp-route-id="@item.Id" class=" btn btn-danger btn-sm">Eliminar</a>
                        </div>
                    </div>



                </div>


            </div>
        </div>
    }
</div>




<div style="margin-bottom:35px;margin-top:15px">


    <div class="row" style="margin-top:15px;margin-bottom:15px">
        <div class="col-12">
            <a asp-page="Create" class="btn btn-primary m-1 float-right" style="margin-top:5px;margin-bottom:-5px">Agregar usuario</a>
        </div>
    </div>

    <div id="accordion">

        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne" style="color:#898B8D;background-color:transparent">
                    Listado
                </a>
            </div>
            <div id="collapseOne" class="collapse" data-parent="#accordion">
                <div class="card-body">

                    <div class="form-group" style="margin-top:20px;padding:10px">


                        <table class="table table-hover table-bordered" id="example" style="text-align:center">
                            <thead style="background-color: #33b5e5; color: white ">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CtUsers[0].CreationDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CtUsers[0].UserName)
                                    </th>

                                    <th>
                                        @Html.DisplayNameFor(model => model.CtUsers[0].RoleNavigation.Role)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CtUsers[0].LastAccess)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CtUsers[0].Especialidad)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CtUsers[0].NoCedula)
                                    </th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.CtUsers)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreationDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserName)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.RoleNavigation.Role)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LastAccess)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Especialidad)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NoCedula)
                                        </td>
                                        <td>
                                            <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Edit</a>
                                            <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Details</a>
                                            <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>


                        <hr />

                     


                    </div>
                </div>
            </div>
        </div>



    </div>


</div>

@section styles{

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/af-2.3.5/b-1.6.2/b-flash-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/kt-2.5.2/r-2.2.5/rr-1.2.7/datatables.min.css" />
    <link href="~/css/UserAdministration/Index.css" rel="stylesheet" />

}


@section scripts{


    @*Jquery datatables*@
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/af-2.3.5/b-1.6.2/b-flash-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/kt-2.5.2/r-2.2.5/rr-1.2.7/datatables.min.js"></script>


    <script type="text/javascript">

        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'Bfrtip',
                colReorder: true,
                buttons: [
                    { extend: 'excel', className: 'btn1' },
                    { extend: 'csv', className: 'btn2' }, 
                    { extend: 'pdf', className: 'btn3' },
                    { extend: 'print', className: 'btn4' }
                   
                ]
            });
        });
    </script>


    <script src="~/js/Users.js"></script>

    <div id="app" />
}

