@page
@model CRUDCore.Pages.Login.IndexModel
@{
    ViewData["Title"] = "DoctorApp";
    @* Layout = "~/Views/Shared/_Layout.cshtml"; *@


}
<head>
    <link href="~/css/Login.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>


@if (@Model.MessageTitle == null)
{
    Model.cssclass456 = "fadeInDown";
}
<div class="wrapper @Model.cssclass456">
    <div id="formContent" style="min-height:60px;background-color:#222">

        <div class="">
            <h1 style="margin-top:30px">DoctorApp</h1>
            <img src="~/images/user2.png" style="width:200px;height:auto;margin-top:50px;margin-bottom:50px" />

        </div>
        <div class="container">

            <!-- Login Form with direct connection to DB-->
            <form method="post">
                <label style="margin-bottom:10px">Credenciales:</label>
                <input type="text" id="login" class="form-control" name="txtUsuario" placeholder="Usuario" style="max-width:100%;margin-bottom:10px">
                <input type="password" id="password" class="form-control" name="txtPassword" placeholder="Password" style="max-width:100%;margin-bottom:10px;">
                <input type="submit" class="btn btn-primary btn-lg" value="Ingresar" asp-page-handler="LoginDBConn">
                @if (Model.showListUsers == true)
                {
                    <div>
                        <select asp-for="UsuarioSelected" class="form-control" asp-items="@Model.CategoryItems" style="margin-top:10px">
                            <option value="">Please Select</option>
                        </select>
                        <input type="submit" class="btn btn-primary" value="Ingresar Admin" style="margin-top:10px" />
                    </div>
                }
            </form>

        </div>
    </div>
</div>

@if (@Model.MessageTitle != null)
{
    <script>
        $(document).ready(function () {
            $('#myModal').modal('show');
        });
    </script>

}


<!-- Modal for messages -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">@Model.MessageTitle</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                @Model.MessageBody
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>
